<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js" ></script>
</head>
<body>
    <b>[입력]</b>
    <table>
        <tbody>
            <tr>
                <td>URL </td>
                <td><input id="url" value="" /></td>
            </tr>
            <tr>
                <td>type </td>
                <td>
                    <select id="type" >
                        <option value="htmlExcept">HTML 테그 제외</option>
                        <option value="all">Text 전체</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>출력 단위 묶음</td>
                <td>
                    <input id="output_unit" value="">
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <button id="submit" onclick="submit();"> 출력 </button>
    <br/>
    <br/>
    <b>[출력]</b>
    <table id="outputtable">
        <tbody>
            <tr>
                <td>몫</td>
                <td><input id="quotient" value="" disabled></td>
            </tr>
            <tr>
                <td>나머지</td>
                <td><input id="remainder" value="" disabled></td>
            </tr>
        </tbody>
    </table>
</body>
<footer>
    <script type="text/javascript">
        function submit(){
            let url = $('#url').val();
            let type = $('#type option:selected').val();
            let output_unit = $('#output_unit').val();
            $.ajax({
                url:'/solution',
                type:'get',
                data:{url: url, type: type, output_unit: output_unit},
                success:function(data){
                    $('#quotient').val(data.quotient);
                    $('#remainder').val(data.remainder);
                }
            })
        }
    </script>
</footer>
</html>
